<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <header class="header">
            <div class="header__container-menu">
                <div class="header__container-logo">
                    <h1 class="logo">Arti Presepi Vittorio</h1>
                </div>
                <nav class="nav">
                    <ul class="nav__menu">
                        <li class="nav__menu-item"><a class="link p__xl" href="#">Home</a></li>
                        <li class="nav__menu-item"><a class="link p__xl" href="#">Negozio</a></li>
                        <li class="nav__menu-item"><a class="link p__xl" href="#">Chi Sono</a></li>
                        <li class="nav__menu-item"><a class="link p__xl" href="#">Contatti</a></li>
                    </ul>
                </nav>
            </div>
        </header>
        {% block body %}{% endblock %}
    </body>
</html>
