{% extends "base.html.twig" %}

{# Set Statua's variable #}
{% if statua %}
    {% set statuaNome = statua.nome %}
    {% set statuaUrl = statua.url %}
    {% set statuaDescrizione = statua.descrizione %}
    {% set statuaMateriali = statua.materiali %}
    {% set statuaQuantita = statua.quantita %}
    {% set statuaPrezzo = statua.prezzo %}
    {% set statuaSpedizione = statua.spedizione %}
    {% set statuaImages = statua.getImages %}
{% endif %}

{% block body %}
<div class="statua">
    <div class="statua__container-title">
        <h1 class="h1">{{ statuaNome }}</h1>
    </div>
    <div class="statua__container-description">
        {{ statuaDescrizione|raw }}
    </div>
</div>
{% endblock %}